.pad7{
    padding: 7px;
}
.ptop-26{
    padding-top: 26px;
}
.ptop-16{
    padding-top: 16px;
}
.ptop-11{
    padding-top: 11px;
}
.ptop-8{
    padding-top: 8px;
}
.pleft-0{
    padding-left: 0px;
}
.pright-0{
    padding-right: 0px;
}
.mtop-8{
    margin-top: 8px;
}
.mtop-11{
    margin-top: 11px;
}
.mtop-16{
    margin-top: 16px;
}
.mtop-25{
    margin-top: 25px;
}
.mtop-27{
    margin-top: 27px;
}
.mtop-40{
    margin-top: 25px;
}

.mleft-12{
    margin-left: 12px;
}

.mleft-15{
    margin-left: 15px;
}
.mleft-20{
    margin-left: 20px;
}
.mleft-25{
    margin-left: 25px;
}

.mleft-55{
    margin-left: 55px;
}

.mright-20{
    margin-right: 20px;
}
.mright-36{
    margin-right: 36px;
}

.lineh-17{
    line-height: 17px;
}

.height-100{
    height: 100%;
}
.height-69px{
    height: 69px;
}
.height-58px{
    height: 58px;
}
.height-45px{
    height: 45px;
}
.height-35px{
    height: 35px;
}

.width-100{
    width: 100%;
}

.width-118px{
    width: 118px;
}
