$bodyColor: #F2F7FE;
$whiteColor: #FFF;
$primaryColor: #337DFF;
$defaultColor: #51585F;
$blackColor: #17181A;
$lightGreyColor: #91989B;
$lightGreyColor1: #B2BEC3;
$lighterGreyColor: #EAF2FF;
$lighterGreyColor1: #E5EBF0;
$red:#DA4453;
$orange:#FC6E51;
$purple:#967ADC;
$lightBlue:#3BAFDA;
$redBg:rgba(218, 68, 83, 0.1);
$orangeBg:rgba(252, 110, 81, 0.1);
$purpleBg:rgba(150, 122, 220, 0.1);

$light:300;
$regular:400;
$semiBold: 600;
$bold: 700;
body{
    margin: 0;
    background-color: $bodyColor;
    font:  $regular 15px 'Source Sans Pro', sans-serif ;
    color: $defaultColor;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, td, th{
    font-family: 'Source Sans Pro', sans-serif;
}

//color
.black{
    color: $blackColor !important;
}
.primary{
    color: $primaryColor !important;
}
.grey{
    color: $defaultColor;
}
.lighterGrey{
    color: $lighterGreyColor; 
}
.lightGrey{
    color: $lightGreyColor; 
}
.lightGrey1{
    color: $lightGreyColor1; 
}
.red{
    color: $red;
}
.orange{
    color: $orange;
}
.purple{
    color: $purple;
}
.lightBlue{
    color: $lightBlue;
}

.bg-white{
    background-color: $whiteColor;
}
.bg-lighterGrey1{
    background-color: $lighterGreyColor1;
}
.bg-red{
    background-color: $redBg;
}
.bg-orange{
    background-color: $orangeBg;
}
.bg-purple{
    background-color: $purpleBg;
}
.border-lighter-gray1{
    border-color: $lighterGreyColor1;
}

.semi-bold{
    font-weight: $semiBold;
}

//fontsize
.fs-10{
    font-size: 10px;
}
.fs-13{
    font-size: 13px;
}
.fs-17{
    font-size: 17px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}

//padding
.pad7{
    padding: 7px;
}
.ptop-26{
    padding-top: 26px;
}
.ptop-16{
    padding-top: 16px;
}
.ptop-10{
    padding-top: 10px;
}
.ptop-11{
    padding-top: 11px;
}
.ptop-8{
    padding-top: 8px;
}
.pleft-0{
    padding-left: 0px;
}
.pright-0{
    padding-right: 0px;
}

//margin
.mtop-8{
    margin-top: 8px;
}
.mtop-11{
    margin-top: 11px;
}
.mtop-16{
    margin-top: 16px;
}
.mtop-25{
    margin-top: 25px;
}
.mtop-27{
    margin-top: 27px;
}
.mtop-40{
    margin-top: 25px;
}

.mleft-12{
    margin-left: 12px;
}

.mleft-15{
    margin-left: 15px;
}
.mleft-20{
    margin-left: 20px;
}
.mleft-25{
    margin-left: 25px;
}
.mleft-55{
    margin-left: 55px;
}
.mright-20{
    margin-right: 20px;
}
.mright-36{
    margin-right: 36px;
}

//height
.lineh-17{
    line-height: 17px;
}
.height-100{
    height: 100%;
}
.height-130px{
    height: 130px;
}
.height-69px{
    height: 69px;
}
.height-58px{
    height: 58px;
}
.height-45px{
    height: 45px;
}
.height-35px{
    height: 35px;
}

//width
.width-100{
    width: 100%;
}

.width-118px{
    width: 118px;
}


//custom
#nav{
    top: 0px;
    background-color: $whiteColor;
    width: 100%;
    height: 129px;
}

.topBar{
    width: 100%;
    height: 70.5px;
    border-bottom: $lighterGreyColor 1px solid;
    .name{
        font-size: 15px;
        font-weight: $semiBold;
        letter-spacing: 1.35px;
    }
    .role{
        font-size: 12px;
        letter-spacing: 1.08px;
    }
}

.navBar{
    width: 100%;
    height: 58.5px;
}

.r-link{
    color: $primaryColor;
    text-decoration: underline;
}

.round-img{
    border-radius: 50%;
}

.roundedCorner{
    border-radius: 6px;
}

.left-border-none {
    border-left:none !important;
}
.left-radius-none {
    border-top-left-radius:0 !important;
    border-bottom-left-radius:0 !important;
}
.right-radius-none {
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
}

.btm-border-light-grey{
    border-bottom: $lighterGreyColor1 1px solid;
}

.icon-filled{
    padding: 7px;
    margin-top: 5px;
    margin-right: 6px;
}

.col-title{
    margin-left: 21px;
    font-weight: $semiBold;
    color: $blackColor;
}

.tabbable .nav-tabs {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;
 }
 .tabbable .nav-tabs .nav-link {
   white-space: nowrap;
 }

.nav-m{
    margin: 0px 1.5em; 
 }

 .card-m{
    margin: 0px 0.5em;
 }

.card-row-m{
    margin-top: 1.6em;
    margin-bottom: 1.6em;
 }

.cell-middle{
    vertical-align: middle !important;
 }

@media only screen and (max-width: 1200px) {
    .lg-card-row-m{
        margin-top: 1.6em;
    }
}
@media only screen and (max-width: 992px) {
    .md-card-row-m{
        margin-top: 1.6em;
    }
}
@media only screen and (max-width: 768px) {
    .sm-card-row-m{
        margin-top: 1.6em;
    }
}

#overflow-style-1{
    ::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar
    {
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        box-shadow: inset 0 0 3px rgba(0,0,0,.1);
        background-color: $lightGreyColor1;
    }
}


//bootstrap overwrite
.container{
    max-width: 90%;
}
.container-content{
    max-width: 95%;
}

li{
    a{
        color: $defaultColor;
    }
    a:active{
        color: $primaryColor;
    }
}

.nav-tabs{
    border: none;
    .nav-link {
        border: none;
        padding: 0;
    }
}
    

.nav-item{
    font-size: 15px;
    .nav-link{
        display: table-cell;
        vertical-align: middle
    }
    .nav-link.active{
        color: $primaryColor;
        font-weight: $semiBold;
        border-bottom: $primaryColor 2px solid;
    }
}

.custom-select{
    border-radius: 6px !important;
    border-top-left-radius:0 !important;
    border-bottom-left-radius:0 !important;
    height: 45px;
    width: 8rem;
}

.form-control{
    border-radius: 6px;
}

.table-curved {
    border-collapse: separate;
    border: solid $lighterGreyColor 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
 }
 .table-curved > thead:first-child > tr:first-child > th {
     border-bottom: 0px;
     border-top: solid $lighterGreyColor 1px;
 }
 .table-curved td, .table-curved th {
     border-left: 1px solid $lighterGreyColor;
     border-top: 1px solid $lighterGreyColor;
 }
 .table-curved > :first-child > :first-child > :first-child {
     border-radius: 6px 0 0 0;
 }
 .table-curved > :first-child > :first-child > :last-child {
     border-radius: 0 6px 0 0;
 }
 .table-curved > :last-child > :last-child > :first-child {
     border-radius: 0 0 0 6px;
 }
 .table-curved > :last-child > :last-child > :last-child {
     border-radius: 0 0 6px 0;
 }

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: $lighterGreyColor;

    thead{
        th{
            border-bottom: none !important;
            color: $blackColor;
            font-weight: $semiBold;
        }
    }
}

.page-item .page-link{
    color: $blackColor;
    font-weight: $semiBold;
    font-size: 13px;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
div.scrollmenu a {
display: inline-block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}

div.scrollmenu a:hover {
background-color: #777;
}

.search {
    text-align: center;
    color: white;
}

.search__field:not(:focus) ~ .search__autocomplete {
    display: none; 
}
    
.search__autocomplete {
    z-index: 2;
    position: relative;
    max-width: 40rem;
    margin: auto;
    & > .autocomplete {
        position: absolute;
        left: 0; 
        top: 0;
        right: 0;
    }
}

.autocomplete {
    background-color: white;
    color: #444;
    box-shadow: 0 1px 2px rgba(0,0,0, .15);
    font-size: .875rem;
    text-align: left;
    &__item {
        border-top: 1px solid #eee;
        padding: 1rem 1rem;
        cursor: pointer;
        &:hover {
        background-color:  #eee;
        }
    }
}

input[type=text]:focus, select:focus, textarea:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border: 0.5px solid rgba(0, 0, 0, 0.1) !important;
  }